body {
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 100;
    color:  #5700F7;
}
.card {
    border-radius:7px;
    padding-left: 10px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-top: 3px;
    margin: 10px;
    background-color: #DFDFE9;
    width: fit-content;
}

.container {
    width: auto;
    position: fixed;
}